.nav {
    border-bottom: 1px solid #EAEAEB;
    text-align: right;
    height: 70px;
    line-height: 70px;
    position: sticky;
    top: 0%;
    z-index: 50;
    background-color: #FFFFFF;
  }
  .menu {
    margin: 0 30px 0 0;
  }
  .menu a {
    clear:right;
    text-decoration: none;
    color: gray;
    margin: 0 10px;
    line-height: 70px;
  }
  span {
    color: lightskyblue;
  }
  label {
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;
  }
  #toggle {
    display: none;
  }
  @media only screen and (max-width: 600px) {
    label {
      display: block;
      cursor: pointer;
      position: relative;
      margin: 0;
      right: 5vw;
    }
    .menu {
      text-align: center;
      width: 100%;
      display: none;
      background-color: #FFFFFF;
    }
    .menu a {
      display: block;
      border-bottom: 1px solid #EAEAEB;
      margin: 0;
    }
    #toggle:checked + .menu {
      display: block;
    }
  }
