.nav {
    border-bottom: 1px solid #EAEAEB;
    text-align: right;
    height: 70px;
    line-height: 30px;
    position: sticky;
    top: 0%;
    z-index: 50;
    background-color: #FFFFFF;

  }

/*
  .menu a:hover {
    text-decoration-line: underline overline;
    transition-property: text-decoration;
  transition-duration: 4s;
  transition-delay: 1s;

  }
  */


  .menu {
    margin: 0 30px 0 0;
  }

/*  
  .menu a {
    clear:right;
    text-decoration: none;
    color: gray;
    margin: 0 10px;
    line-height: 70px;





/* test */


.menu a {
  display: inline-block;
  position: relative;
  clear: right;
  text-decoration: none;
  color:grey  ;
} 

.menu a:before, 
.menu a:after
{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: lightskyblue;
    content: "";
    opacity: 0;
    transition: all 0.3s;


}
.menu a:before
{
    top: 0px;
    transform: translateY(10px);
    
}

.menu a:after
{
    bottom: 0px;
    transform: translateY(-10px);
}

.menu a:hover:before, 
.menu a:hover:after
{
    opacity: 1;
    transform: translateY(0px);
    margin: 2px;
}


  span {
    color: lightskyblue;
  }
  label {
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;
  }
  #toggle {
    display: none;
  }
  @media only screen and (max-width: 600px) {
    label {
      display: block;
      cursor: pointer;
      position: relative;
      margin: 0;
      right: 5vw;
    }

    .menu {
      text-align: center;
      width: 100%;
      display: none;
      background-color: #FFFFFF;
    }
    .menu a {
      display: block;
      border-bottom: 1px solid #EAEAEB;
      margin: 0;
    }
    #toggle:checked + .menu {
      display: block;
    }
  }
