input[type="text"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc; /* couleur à définir*/
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 20px;
  margin-right: 0px;
  margin-left: 0px;
  resize: vertical;
}

input[type="submit"] {
  font-family: "Lora", serif;
  background-color: #1255a2; /* couleur à définir*/
  color: white; /* couleur à définir*/
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  font-family: "Lora", serif;
  background-color: #1872d9; /* couleur à définir*/
}

#contactForm {
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #f2f2f2; /* couleur à définir*/
  padding: 20px;
  width: 100%;
  max-width: 440px;
  margin: 0 auto;
}

.contactTitle {
  margin-bottom: 20px;
  text-align: center;
}
