:root {
--spacing: 8px;
--color-primary: black;
--color-secondary: grey;
/* 
Media queries : break point 600px exemple : au dessus de 600px version écran, en dessous menu burger
Vérifier que cela soit correct en 320px */
}

* {
    margin: 8px;
    font-family: 'Lora', serif;
}

body {
    color: var(--color-primary);

}

.bg-primary {
    background-color: var(--color-secondary);
}

.mon-element {
    margin: calc(var(--spacing) *2 )
}

img {
    width: 50%;
}

main > section {
    padding-top: 70px;
}

.flex-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 16px;
}

.list-icons img {
    width: 1.5rem;
    margin: 8px;
}