:root {
--spacing: 8px;
/* --margin: 16px; */
/* --line-height: 1.5; */
--color-primary: black;
--color-secondary: grey;
}
/* 
Media queries : break point 600px exemple : au dessus de 600px version écran, en dessous menu burger
Vérifier que cela soit correct en 320px */

@media only screen and (max-width: 600px) {
    body { 
        margin: 5vw;
        line-height: 1.5;
    }

    h2 {
        line-height: 1.5;
    }

    h3 {
        line-height: 3;
    }

    .langWrap {
        margin: 0 4.5vw 0 ;
    }
}

@media only screen and (min-width: 600px) {
    body {
        margin: 10vw;
        line-height: 1.5;
    }

    h2 {
        line-height: 1.5;
    }
    
    h3 {
        line-height: 3;
    }

    .langWrap {
        margin: 0 35px 0 0;
    }
}

.items {
    width: 75vw;
    padding-right: 20px;
    align-items: left;
  
}
* {
    spacing: var(--spacing);
    margin: var(--margin);
    line-height: var(--line-height);
    font-family: 'Lora', serif;
}

body {
    color: var(--color-primary);
}

.langWrap {
    display: flex;
    justify-content: flex-end;
}

.button {
    line-height: 16px;
    text-decoration: none;
    margin: 4px;
    padding: 7px;
    font-size: 1.2em;
    color: #000000;
    background-color: #f9faf8;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border: 1px solid #c2c0c0;
} 

.button:hover {
    padding: 7px;
    color: #FFFFFF;
    background-color: #dbd8d8;
    border: 1.5px solid #d8d8d8;
}

.description {
    font-size: large;
    padding: 8px;
}

h2 {
    text-align: center;
    font-size: xx-large;
}

h3 {
    font-size: x-large;
    text-decoration: underline;
}

/* .bg-primary { */
    /* background-color: var(--color-secondary); */
/* } */

/* .mon-element { */
    /* margin: calc(var(--spacing) *2 ) */
/* } */

img {
    width: 50%;
}

main > section {
    padding-top: 70px;
}

.flex-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 16px;
}

.list-icons img {
    width: 1.2rem;
    margin: 8px;
}