:root {
--spacing: 8px;
--color-primary: black;
--color-secondary: grey;
/* 
Media queries : break point 600px exemple : au dessus de 600px version écran, en dessous menu burger
Vérifier que cela soit correct en 320px */
}

body {
    color: var(--color-primary);

}

.bg-primary {
    background-color: var(--color-secondary);
}

.mon-element {
    margin: calc(var(--spacing) *2 )
}

img {
    width: 50%;
}

.flex-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
    
.flex-container a {
    flex: 1 1 0;
 }

 .flex-container a img {
    width: 10%;
}
