/* Pour la traduction : sert à n'afficher qu'une langue à la fois et à masquer l'autre */
/* on met !important car sinon le display:block de la navbar prend le dessus (car il est ciblé
plus précisément */
.d-none {
  display: none !important;
}

/* Mobile en-dessous de 600*/

h3 {
  line-height: 3;
}

.langWrap {
  margin: 0 4vw 0;
}

.alignTitreHome {
  padding: 35px;
}

.description {
  margin-bottom: 40px;
}

/*mobile au dessus de 600*/

@media only screen and (min-width: 600px) {
  body {
    font-family: "Lora", serif;
    line-height: 1.5;
  }

  main {
    padding: 20px;
    margin: 5vw;
  }

  h1 {
    margin-left: 1vw;
    text-align: center;
  }

  h2 {
    line-height: 1.5;
    margin: 60px;
    font-size: 2.2rem;
  }

  h3 {
    line-height: 3;
  }

  .description {
    margin-bottom: 50px;
  }

  .alignTitreHome {
    padding: 30px;
  }
}

/* Photos des restaurants : j'ai ajouté width 100% pour que les images soit alignés avec le texte */
.items {
  width: 100%;
  height: 100%;
  object-fit: cover; /* pour que l'image prenne toute la place de la carte */
  background-color: black;
}

.items-left {
  border-radius: 0.375rem 0 0 0.375rem;
}

.items-right {
  border-radius: 0 0.375rem 0.375rem 0;
}

/* concerne tout le monde */
body {
  color: var(--color-primary);
}

h2 {
  text-align: center;
}

h3 {
  font-size: x-large;
  text-decoration: underline;
}

/* les class */

.card {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  height: min-content;
  width: 100%;
  margin-bottom: 6rem;
  justify-content: center;
  justify-items: center;
  border-radius: 0.375rem;
  background-color: rgb(240, 240, 240);
}

.card-infos {
  padding: 2rem;
}

.hero-title {
  font-size: 50px;
}

.hero-title-color {
  color: rgb(57, 49, 177);
}

.description {
  font-size: x-large;
  padding: 8px;
  padding-left: 12rem;
  padding-right: 12rem;
  text-align: center;
  color: rgb(66, 66, 66);
  padding-bottom: 8rem;
}

/*les drapeaux de Marie*/

.langWrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  grid-column: span 1 / span 1;
  grid-column-start: 12;
  grid-row-start: 1;
}

button {
  line-height: 16px;
  text-decoration: none;
  margin: 4px;
  padding: 7px;
  font-size: 1.2em;
  color: #000000;
  background-color: #f9faf8;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border: 1px solid #c2c0c0;
}

button:hover {
  padding: 7px;
  color: #ffffff;
  background-color: #dbd8d8;
  border: 1.5px solid #d8d8d8;
}

img {
  width: 50%;
}

/*les icones de Marie */

.flex-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 16px;
}

.list-icons img {
  width: 1.5rem;
  margin: 8px;
}

/*desktop taille max 1024*/

@media only screen and (max-width: 1024px) {
  .card {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .card-title {
    font-size: small;
  }

  .description {
    padding: 4px;
  }

  .items-left {
    border-radius: 0.375rem 0.375rem 0 0;
  }

  .items-right {
    border-radius: 0.375rem 0.375rem 0 0;
    grid-column-start: 1;
    grid-row-start: 1;
  }

  .alignTitreHome {
    padding: 20px;
  }
}

@media only screen and (max-width: 600px) {
  body {
    font-family: "Lora", serif;
    line-height: 1;
    margin: 5px;
    padding: 5px;
  }
  .description {
    font-size: large;
  }
  h2 {
    font-size: large;
    margin: 5px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .content {
    margin-bottom: 50px;
  }

  main {
    padding: 5px;
    margin: 1vw;
  }

  h1 {
    margin-left: 1vw;
    text-align: center;
  }

  h3 {
    line-height: 1;
    font-size: 18px;
  }

  .langWrap {
    margin: 0 4vw 0;
  }
  .card-infos {
    padding: 1.2rem;
  }
  .alignTitreHome {
    padding-top: 50px;
  }
}
