:root {
--spacing: 8px;
--margin: 16px;
--line-height: 1.5;
--color-primary: black;
--color-secondary: grey;
/* 
Media queries : break point 600px exemple : au dessus de 600px version écran, en dessous menu burger
Vérifier que cela soit correct en 320px */
}

* {
    spacing: var(--spacing);
    margin: var(--margin);
    line-height: var(--line-height);
    font-family: 'Lora', serif;
}

body {
    color: var(--color-primary);
}

.description {
    font-size: large;
    padding: 8px;
}

h2 {
    text-align: center;
    font-size: xx-large;
}

h3 {
    font-size: x-large;
    text-decoration: underline;
}

.bg-primary {
    background-color: var(--color-secondary);
}

.mon-element {
    margin: calc(var(--spacing) *2 )
}

img {
    width: 50%;
}

.flex-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 16px;
}

.list-icons img {
    width: 1.2rem;
    margin: 8px;
}